/bower_components/**
/examples/**
/bin/**
/dist/**
/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/.tmp/**
/public/**
/node_modules/**
/lib-cov/**
/.grunt/**
/.sonar/**
/logs/**
/.idea/**
/.nyc_output/**
